#background-photo {
  background-image:  url("../Images/DSC_0394.jpg"); /* Specify the image URL */
  background-size: cover; /* This will make the image cover the entire element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image within the element */
  /* You can also specify a fixed width and height for the element itself if needed */
  width: 100%; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */

  display: flex; /* Use flexbox layout */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: relative;
}

#background-photo h1 {
  color: white;
  font-size: 75px;
  top:100px;

}



.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

.nav-item {
  padding-right: 50px;
  font-family: "Quicksand", sans-serif;
}
.nav-item a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #f5cba7;
  font-weight: bold;
}
.navbar-toggler-icon {
  filter: invert(1);
}

#camera-clipart {
  max-width: 175px;

}
#camera-clipart img {
  width: 50%;
  height: auto;
}

#png-me {
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 600px;
    display: flex;
    justify-content: center;
  }
#png-me img {
  max-width:400px;

}

 /* Set the custom height and width for the carousel container */
 #carouselExampleCaptions {
  width:25%; /* Adjust the width as needed */
  position: relative;
  z-index: 1;
  left:33%;
top:25%;
}


/* Set a custom height for the carousel images */
#carouselExampleCaptions .carousel-inner .carousel-item img {
  height: 300px; /* Adjust the height as needed */
  width: auto;
  border-radius: 25px;
}

/* Adjust the height of the carousel captions (optional) */
#carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption {
  height: 300px;
  width: auto; /* Adjust the height as needed */
  color: black;
}

#white-background {
  background-color:#424949;

  width: 100%;
  height: 100%;
    opacity: 70%;
    position: fixed;
   z-index: 0;

    /* Adjust other properties as needed */
  }

  h1 {
    position: absolute;
 /* Adjust the top value as needed */
    Right:6%;
    bottom:50%; /* Adjust the left value as needed */
    z-index: 1; /* Ensure the h1 is above the white background */
    font-family: 'Great Vibes', cursive;
    font-weight: lighter;
    font-size: 42px;
  

  }

  
  #p-container {
    max-width: 400px;
    position: absolute;
  bottom:56%;
    right:6%;
    color: white;
    font-size: 20px;
    z-index: 1;
    font-family: 'Spectral', serif;
    
   
  }

  #fbLogo {
    position: absolute;
    right: 20%; /* Adjust the right value as needed */
    bottom: 44%; /* Adjust the bottom value as needed */
    z-index: 1; /* Ensure the Facebook image is above other elements */
  }
  
  #fbLogo img, #igLogo img  {
    width: 35px;
  }

  #igLogo {
    position: absolute;
    right: 13%; /* Adjust the right value as needed */
    bottom: 44%; /* Adjust the bottom value as needed */
    z-index: 1; /* Ensure the Facebook image is above other elements */
  }

  #ggLogo  {
    position: absolute;
    right: 13%; /* Adjust the right value as needed */
    bottom: 49%; /* Adjust the bottom value as needed */
    z-index: 1; /* Ensure the "ggLogo" image is above other elements */
  }

  #ggLogo img {
width: 125px;
  }

  .dropdown-menu {
    transition: background-color 0.4s ease /* Adjust the duration and easing function as needed */
  }
  
  
  /* Change the text color of the dropdown items */
  .dropdown-menu a {
    color: black; /* Replace 'your-text-color' with the desired text color code or name */
    padding-top:10px;
  }
  
  /* Change the background color of the dropdown items on hover */
  .dropdown-menu a:hover {
    font-weight: bold; /* Replace 'your-hover-color' with the desired hover color code or name */
    color: black;
  }

  @media screen and (max-width: 450px) and (min-width:350px){
    #p-container {
      font-size: 16px;
      text-align: center;
    }
    #background-photo h1 {
  font-size:48px;
  right:50px;
}
#carouselExampleCaptions {
  width: 85%;
  left: 0%;
}
#igLogo {
  right: 30%; 
  bottom: 46%;
}
#fbLogo {
  right: 60%; 
  bottom: 46%;
}

  }
